__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
env/

# Ignore large data
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Ignore outputs
outputs/checkpoints/*
outputs/logs/*
outputs/results/*
outputs/heatmaps/*

# Keep structure
!outputs/checkpoints/.gitkeep
!outputs/logs/.gitkeep
!outputs/results/.gitkeep
!outputs/heatmaps/.gitkeep

*.pth
*.pt
*.log
*.csv
*.png
*.npy
